<aside class="sidebar">                
    <nav>
        <ul class="menu">
            <li>
                <a href="dashboard.html" class="menu-item">Dashboard</a>                     
            </li>
            <li>
                <a href="#" class="menu-item">Usuarios</a>
                <ul class="submenu">
                    <li><a href="crear-usuario.html">Crear Usuario</a></li>
                    <li><a href="listado-usuarios.html">Listar Usuarios</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu-item">Sectores</a>
                <ul class="submenu">
                    <li><a href="crear-sector.html">Crear Sector</a></li>
                    <li><a href="listar-sectores.html">Listar Sectores</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu-item">Normas</a>
                <ul class="submenu">
                    <li><a href="crear-norma.html">Crear Norma</a></li>
                    <li><a href="listar-normas.html">Listar Normas</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>